<div>
  <ul>
    {{#stories}}
    <li data-story-id="{{idnumber}}">
      <div id="story-hit">
        <div id="title"><a href="#">{{title}}</a></div>
        <div id="year">{{year}}</div>
        <div id="author">{{author}}</div>
        <div id="collaborator">{{collaborator}}</div>
      </div>
    </li>
    {{/stories}}
  </ul>
</div>